.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__content {
    background-color: #fff;
    width: 485px;
    max-height: 80vh;
    padding: 24px;
    overflow-y: auto;
    outline: none;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    .MuiTextField-root{
      margin-bottom: 20px;
    }
  }
}