main{
  margin-top: 100px;
}
nav a{
  padding: 6px 8px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  &.active{
    color: orange;
  }
}
.App{
  max-width: 1000px;
  margin: 0 auto;
}